body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
#TestGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw; /* Make it responsive */
    height: 60vh;
}

svg {
    width: 100%; /* Make the SVG fill the container */
    height: 100%;
    
}
.clickable::after{
    border: 1px solid purple;
}

.menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.menu button {
    display: block;
    width: 100%;
    margin: 2px 0;
    padding: 5px;
    border: none;
    cursor: pointer;
    background: lightgray;
}
.menu button:hover {
    background: darkgray;
}
/*When Object is selected*/
.selected {
    stroke: red ; 
    stroke-width: 1px ;
}